extends layout

block content
    a.button(href='/admin/list') User List
    a.button(href='/admin/import') Import Users
    a.button(href='/admin/message') Message User
    a.button(href='/admin/messageall') Message All Users
    a.button(href='/admin/shuffle') Shuffle Santas
    a.button(href='/admin/pairings/new') New Pairing
