extends layout

block content
    - each invite in invites
        span [b][url=http://hackforums.net/private.php?action=send&uid=#{invite.uid}&subject=Secret%20Santa%20Signup%202015&message=Thank%20you%20for%20your%20interest%20in%20this%20year's%20Secret%20Santa.%0A%5Bb%5D%5Burl%3Dhttp%3A%2F%2Fhfsecretsanta.xyz%2Fsignup%2F#{invite.inviteCode}%5DClick%20Here%20To%20Complete%20Your%20Signup%5B%2Furl%5D%5B%2Fb%5D]#{invite.uid}[/url][/b]
        br