extends layout

block content
  h1 Send Message to Santa
  .form-container
    form.stylish(action='/send/santa', method='POST')
      textarea(name='message')
      br
      input(type='submit', value='Send Message')
