extends layout

block content
  - if (!matched)
    .alert Matching hasn't occurred yet. Check back in a few days see if matching has occurred.
  - else
    .alert.alert-success You've been matched! Go and check out your giftee!
  h1 Logged in as #{user.uid}
  p You can now view who you're gifting to. See below. Also, please use the on-site messaging system. I know it's not ideal, but it will keep you anonymous from your recipient. It's not mandated, but it's part of the fun of Secret Santa.
  form.stylish(action='/inbox')
    .input-padidng
      input(type='submit', value='Read Your Mail. ('+ unreadCount +' Unread Message' + (unreadCount == 1 ? ')' : 's)' ))
  form(action='/view/recipient')
    .input-padding
      input(type='submit', value='View Who You\'re Gifting To!', disabled=matched ? '' : 'disabled')
