extends layout

block content
  h1 FAQs
  
  h2 What is Secret Santa?
  p Secret Santa is a type of gift exchange in which the sender of the gift remains anonymous. It can be done where two people gift each other anonymously, or where a "chain" of gifters is created, which is what this application currently does.
