extends layout

block content
  h1 FAQs
  
  h2 Who are you, and why did I get this PM?
  p I'm Crypto&trade;, and I organized this year's HackForums Secret Santa, because I feel like it's a great way to spread holiday cheer. If you have no idea what this is, and you have no recollection of signing up, that's probably becasue someone submitted your profile without your knowledge, which is why I have the verification mechanism. If you don't wish to participate, simply don't complete the participation form.

  h2 Who am I paired up with?
  p As of December 20th, I still need to make some tweaks to get everything working. Once that's finished, I'll ensure the maximum amount of people have signed up, then close signups, and pair people up, starting the gift swapping process.

  h2 Do I have to have the same password as on HF?
  p No! In fact, I discourage it. Even though I can't read your password, and it's thorougly encrypted, it's good practice to not reuse passwords. 

  h2 If I recieved a PM, does that mean I'm in the Secret Santa?
  p Not quite yet. You need to complete the signup process on the site. Next year, this process will be more streamlined. Our appologies for the inconvenience.
  
  h2 What do I use to sign in?
  p You sign in using your HackForums UID. (Numeric Profile Identifier) For example, Crypto&trade;'s UID is 1088934. You can find yours by visiting your profile link. 
  
  h2 I found a bug! What do I do?
  p PM <a href="http://www.hackforums.net/member.php?action=profile&uid=1088934">Crypto&trade;</a> on HackForums.
  
  h2 I have questions! 
  p Same dealio! PM <a href="http://www.hackforums.net/member.php?action=profile&uid=1088934">Crypto&trade;</a> on HackForums.
  
  h2 How is my information being kept secure?
  p Your passwords are hashed using securely salted bcrypt.

  h2 How long did you spend making this?
  p Waaaay too much time.
  
  h2 I can't send email to my Santa yet!
  p That feature will be fully implemented in the next couple days. After which, signups through the app will be closed so pairings can be generated.
  
