extends layout

block content
  h1 FAQs
  
  h2 What is Secret Santa?
  p Secret Santa is a type of gift exchange in which the sender of the gift remains anonymous. It can be done where two people gift each other anonymously, or where a "chain" of gifters is created, which is what this application currently does.
  h2 Why can't I give out products that I made?
  p While your product may be awesome, to ensure everyone gets a great gift, we want gifts to have some intrinsic value. Good examples of gifts: Bitcoin, Web Hosting, actual physical gifts. Bad/banned gifts: eBooks, programs, etc. Basically, if it costs you nothing to produce another copy of it, it's not a good gift.