extends layout

block content
  table
    thead
      td UID
      td Invite Code
      td PM Link
      td Deny
      td Sent
    - each invite in invites
      - var inviteClass = 'invite-normal';
      - if (invite.denied) { inviteClass="invite-denied" } else if (invite.sent) { inviteClass="invite-sent" }
      tr(class=inviteClass)
        td
          a(href='http://hackforums.net/member.php?action=profile&uid=2305747'+invite.uid, target='_blank')= invite.uid
        td= invite.inviteCode
        td
          a(target="blank", href="http://hackforums.net/private.php?action=send&uid=" + invite.uid + "&subject=Secret%20Santa%20Signup%202015&message=Thank%20you%20for%20your%20interest%20in%20this%20year's%20Secret%20Santa.%0A%5Bb%5D%5Burl%3Dhttp%3A%2F%2Fhfsecretsanta.xyz%2Fsignup%2F" + invite.inviteCode + "%5DClick%20Here%20To%20Complete%20Your%20Signup%5B%2Furl%5D%5B%2Fb%5D") Send Invite PM
        td
          form(action='/admin/deny/'+invite.inviteCode, method='POST')
            button(type='submit') Deny User
        td
          form(action='/admin/sent/'+invite.inviteCode, method='POST')
            button(type='submit') Mark Sent