extends layout

block content
  h1 Set Password for #{uid}
  form(action='/admin/setpass/'+uid, method='POST')
    .input-group
      input(type='text', value=uid, disabled='disabled', name='uid') 
      input(type='password', name='password')
      input(type='submit', value='Change Pass')
