extends layout

block content
  h1 Signups Closed
  p Sorry, but we've already run our pairing algorithm, and as such, signups are now disabled. We're sincerely sorry you missed us this year, and hope you'll join us next year for a jolly good time!
