extends layout

block content
  h1 Signup
  p Your UID is auto-filled.
  form.stylish(action='/signup', method='POST')
    input(type='hidden', value=inviteCode, name='inviteCode')
    .input-group
      input(type='text', name='uid', value=uid, disabled=true)
      input(type='password', name='password', placeholder='Password')
    .input-padding
      input.styled(type='text', name='interests', placeholder='Type your interests here.')
    p The address is only required if you wish to receive physical gifts. Otherwise, leave it blank.
    .input-padding
      input(type='checkbox', id='receivephysical', name='receivephysical')
      label(for='receivephysical') I would like to potentially receive a physical gift
    .input-group.address
      input(type='text', name='address1', placeholder='Address Line 1')
      input(type='text', name='adderss2', placeholder='Address Line 2 (Optional)')
      input(type='text', name='city', placeholder='City')
      input(type='text', name='state', placeholder='State/Province')
      input(type='text', name='postal', placeholder='Postal Code')
      input(type='text', name='country', placeholder='Country')
    .invite-group
      .checkbox-group
        input(type='checkbox', id='minimumval')
        label(for='minimumval') I understand that gifts should have a minimum value of $10 USD. <a href="https://www.google.com/finance/converter?a=10&from=USD&to=EUR" target="_blank">Click here to convert</a>
      .checkbox-group
        input(type='checkbox', id='noself')
        label(for='noself') I understand that I may not give products as gifts that cost nothing to copy. (No eBooks) <a href="/faq">Click to read the FAQ</a>
    .input-padding
      input(type='submit', value='Join', disabled='disabled')
  script.
    $('input[type=checkbox]').on('change', function () {
      if ($('#minimumval').is(':checked') && $('#noself').is(':checked')) {
        $('input[type=submit]').removeAttr('disabled')
      } else {
        $('input[type=submit]').attr('disabled', 'disabled');
      }
      if ($('#receivephysical').is(':checked')) {
        $('.address').slideDown();
      } else {
        $('.address').slideUp();
      }
    });
